---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import {Image, getImage} from "astro:assets";
import { AstroSeo } from "@astrolib/seo";
import { CalendarIcon } from 'astro-feather';
import NoImage from 'src/content/posts/images/noimage.png';
import logo from "../../public/images/logo.png";
const socialImage = frontmatter.image ? await getImage({src: frontmatter.image, format: 'webp'}) : null
---
<AstroSeo
  title=`Jonne Kats | ${frontmatter.title}`
  description={frontmatter.description}
  openGraph={{
    title: frontmatter.title,
    description: frontmatter.description,
    images: socialImage ? [
      {
        url: `${import.meta.env.SITE}${socialImage.src}`,
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
    ] : [],
  }}
/>
<BaseLayout>
  <section>
    <div class="px-8 md:px-12 mx-auto lg:pt-8 max-w-7xl lg:px-32">
      <div class="text-center">
           <div class="flex gap-3 justify-center">
              {
                frontmatter.tags.map((tag) => (
                  <span class="inline-flex items-center uppercase text-lg tracking-wider underline underline-offset-4 font-extrabold hover:no-underline text-green-800">
                    <a href={`/posts/tags/${tag}`}>{tag}</a>
                  </span>
                ))
              }
           </div>
        <h1
        class="text-4xl mt-6 lg:mt-8 font-Kanit text-black md:text-7xl tracking-tighter"
        >
        {frontmatter.title}
      </h1>
        <div class="mx-auto my-6 lg:my-10 flex justify-center gap-2 items-center text-zinc-500">
          <CalendarIcon />
          <p class="text-lg">
            {frontmatter.date.toLocaleDateString(
                "en-GB",
                {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                }
              )}
          </p>
        </div>
        {frontmatter.image &&
          <Image
              class="object-cover object-center"
              src={frontmatter.image}
              widths={[240, 540, 720, frontmatter.image.width]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${frontmatter.image.width}px`}
              loading="eager"
              alt="Blog post title"
          />
        }

      </div>

      <div class="mt-8 lg:mt-12 max-w-2xl mx-auto">
        <div class="prose-styles">
          <div class="text-2xl mb-8 lg:mb-10 tracking-wide leading-relaxed [word-spacing:1px]">{frontmatter.description}</div>
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
